# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa

# myeclipse
.metadata
.settings
bin
.classpath
.project


# idea
.idea
out
*.iml
.idea

